php_flag display_errors on

#CORS Options
#Header Set Access-Control-Allow-Origin "http://localhost"                                  #API can accessed by public
#Header Set Access-Control-Allow-Origin "https://yourfrontendsitehere.com" 

# Fix for Apache AUTHORIZATION http header as it is stripped by default for security and should be
# enabled explicity when needed
SetEnvIf Authorization .+ HTTP_AUTHORIZATION=$0

Options -Indexes

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^tasks/([0-9]+)$ controller/task.php?taskid=$1 [L]
RewriteRule ^tasks/complete$ controller/task.php?completed=Y [L]            # Handle task get complete status requests
RewriteRule ^tasks/incomplete$ controller/task.php?completed=N [L]          # Handle task get incomplete status requests
RewriteRule ^tasks$ controller/task.php [L]                                 # Handle task requests
RewriteRule ^tasks/page/([0-9]+)$ controller/task.php?page=$1 [L]           # Handle page requests

RewriteRule ^users$ controller/users.php [L]                                # Handle user requests

# Authentication
RewriteRule ^sessions/([0-9]+)$ controller/sessions.php?sessionid=$1 [L]    # Handle session id requests
RewriteRule ^sessions$ controller/sessions.php [L]                          # Handle login requests

# Images
RewriteRule ^tasks/([0-9]+)/images/([0-9]+)/attributes$ controller/images.php?taskid=$1&imageid=$2&attributes=true [L]  # Handle image id requests for image metadata
RewriteRule ^tasks/([0-9]+)/images/([0-9]+)$ controller/images.php?taskid=$1&imageid=$2 [L]                             # Handle image id requests
RewriteRule ^tasks/([0-9]+)/images$ controller/images.php?taskid=$1 [L]                                                 # Handle image requests
